includes:
    - ./vendor/nunomaduro/larastan/extension.neon
    - phpstan-baseline.neon

parameters:

    parallel:
        maximumNumberOfProcesses: 1
        minimumNumberOfJobsPerProcess: 999999

    paths:
        - app

    # The level 9 is the highest level
    level: 5

    ignoreErrors:
        - '#PHPDoc tag @var#'
        - '#Call to an undefined static method CloudinaryLabs\\CloudinaryLaravel\\Facades\\Cloudinary::.*#'

    excludePaths:
        - ./.git
        - ./vendor/*
        - ./app/Services/Gmo/*
        - ./node_modules/*
        - ./app/Services/CognitoTokenApiGuard.php

    reportUnmatchedIgnoredErrors: false
